<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>478170598126-d8l5i4j40pa9415oo0f67t6ckdjt1p6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478170598126-d8l5i4j40pa9415oo0f67t6ckdjt1p6s</string>
	<key>API_KEY</key>
	<string>AIzaSyAmb1Q9ozLRaI0zkyK1PMdkKw0gOPb5tyc</string>
	<key>GCM_SENDER_ID</key>
	<string>478170598126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.armisoft.landsIOS</string>
	<key>PROJECT_ID</key>
	<string>lands-armisoft</string>
	<key>STORAGE_BUCKET</key>
	<string>lands-armisoft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478170598126:ios:baa1e444799541e8</string>
	<key>DATABASE_URL</key>
	<string>https://lands-armisoft.firebaseio.com</string>
</dict>
</plist>